.overlay
{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: Cornsilk;
	-webkit-border-radius:10px;
	max-width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
}

